.HomePage, 
.AboutPage, 
.ProjectsPage, 
.TechStackPage, 
.ExperiencePage, 
.ContactPage, .Links {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    padding-top: 6.5rem;
    padding-right: 10%;
    padding-left: 10%;
    min-height: 90vh;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    transition: all 0.4s ease;
}

.AboutPage, 
.ExperiencePage {
    .Image {
        width: 45%;
        height: 65%;
    }
    .Text {
        width: 50%;
        justify-content: start;
    }
}

.ContactPage, 
.ProjectsPage, 
.TechStackPage {
    .Content {
        justify-content: center;
        .Text {
            width: 100%;
            align-items: center;
            margin: 5rem 0;
        }
    }
}

.Content, 
.Image, 
.Text {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.Image, 
.Text {
  justify-content: center;
}

.AboutPage{
    .Text{
        margin: 0 !important;
    }
}


.Text {
    flex-direction: column;
    align-items: baseline;
    width: 40%;
    height: auto;
}

.Image {
    align-items: flex-end !important;
    background-color: black;
    object-fit: cover;
    width:55%;
}

.Blockquote {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
    margin-bottom: 5rem;
}

.Spine {
    padding: 0.2rem;
    margin-right: 2rem;
    background-color: black;
    border: solid 0.1rem white;
    border-radius: 2rem;
}
.Links {
    padding-top: 4rem;
    flex-wrap: wrap;
    align-content: baseline;
    box-shadow: none;
}
@media (max-width: 1080px) {
    .AboutPage, 
    .HomePage, 
    .ExperiencePage {
        .Text, 
        .Image {
            width: 100% !important;
        }
    }
}
