body {
  margin: 0.1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  font-size: x-large;
  padding-bottom: 0.5rem;
}

.Title {
  font-weight: bolder;
  font-size: xxx-large;
  padding-bottom: 1rem;
}

.Body {
  padding-top: 1rem;
  line-height: 1.7rem;
  text-align: justify;
}
